@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f0f2f5;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .center {
    @apply x-center y-center;
  }
  .x-center {
    @apply left-[50%] translate-x-[-50%];
  }
  .y-center {
    @apply top-[50%] translate-y-[-50%];
  }
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .hexagon {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
}
